.flex-col-table {
  display: flex;
  flex-direction: column;
  gap: 1px;
  height:full;
  background-color: red;
}
.flex-row-table {
    display: flex;
    gap: 1px;
    height:full;
    background-color: red;
  }
.flex-col-table_item {
    width: full;
    height: 50px;
    display: flex;
    place-items: center;
    justify-content: center;
    background-color: lightblue;
    border: 2px solid black;
}

